{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
<section class="b">
    <div>
        <img src="http://placehold.it/350x300?text=1">
    </div>
    <div>
        <img src="http://placehold.it/350x300?text=2">
    </div>
    <div>
        <img src="http://placehold.it/350x300?text=3">
    </div>
    <div>
        <img src="http://placehold.it/350x300?text=4">
    </div>
    <div>
        <img src="http://placehold.it/350x300?text=5">
    </div>
    <div>
        <img src="{{asset('build/pierogi.jpg')}}">
    </div>
</section>
</div>
<div class="cos">COS</div>



{% endblock %}