*{
    min-height: 0;
    min-width: 0;
}


body {
background-color: #aacd4e;
}

.container{


    /*margin:50px;*/
    width:100%;
    padding:10px;
}
.foodcard{
    width:50%;
    margin:auto;
}
.card{

    margin:25px;
    min-width: 200px;
    min-height: 200px;
    padding:50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.description{
    text-align: center;
    margin:auto;
}
.foodnav {
    margin-top: 50px;
    text-align: center;
}
.b{
    width:75%;

}

.food img{
    margin: auto;
    width:10vw;
    height: 10vw;
}
.food img:hover{
    cursor: pointer;
}
.btn{

    margin:30px;
}
.orders{
    border: 1px solid;
    padding:30px;
    margin: 20px;
    border-radius: 5px;
}
.sidebar{
    border: 1px solid;
    padding:10px;
    margin: 10px;
    border-radius: 5px;
}
.buttons .btn{

    margin:0;

}

.box{
    flex-direction: column;
    display: flex;
   padding:0;
    margin-top:50px;

}

menu.ul.li a{
    color:white;
}

#searchbox[type=text] {

    background-color: aquamarine;
    padding: 6px;
    border: none;
    margin:20px;
    font-size: 17px;
    border-radius: 10px;
}

.searchbox{
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 5px;
    border:solid 1px;
    min-width: 400px;
}

#admin_order_table{
    background-color: #C9C9C9;
}
.users_order{
    width: 100%;
}

#searchebox {
width: 100%;
    height: 200px;
}
.foodSearchImg{
    width:150px;
    height: 150px;

}
#searchedfood img:hover{
    cursor:pointer;
}

.dropdown .btn{
padding:5px !important;
margin:0 !important;
}

.describe{
    text-align:  center;

}
#searchedfood{
    text-align: center;
}
.food{
    display: inline-block;
    margin:15px;
}

#card{
    margin:15px;
}

.food span{
    display: flex;
    justify-content: center;
}
.category .btn{
    width:100%;
    min-height: 80px;
    transition: transform 0.3s ease-in-out;
}
.category .btn:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.content{
    text-align: center;

}
.food{

    padding: 15px;
    border-radius: 5px;
    border:solid 1px;
    transition: transform 0.3s ease-in-out;
}
.food:hover{
    transform: scale(1.1);
    -webkit-transition: transform 0.3s ease-in-out;
}

.delete{
    padding:5px !important;
    margin:0 !important;
    width:80%;
}
.delete_made{
    padding:5px !important;
    margin:0 !important;
    width:80%;
}

.add_company{
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 5px;
    border:solid 1px;
    display: block;

}
.input_fields{
    display: flex;
}
#btn_add_company{

    margin: 30px !important;

}
