*{
    min-height: 0;
    min-width: 0;
}


body {
background-color: #aacd4e;
}

.container{


    margin-top:100px;
    width:60%;
    padding:0;
}
.foodcard{
    width:50%;
    margin:auto;
}
.card{

    margin:25px;
    min-width: 200px;
    min-height: 200px;
    padding:50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.description{
    text-align: center;
    margin:auto;
}
.foodnav {
    margin-top: 50px;
    text-align: center;
}
.b{
    width:75%;

}
.content{

position: relative;

    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 200px;

}
.food img{
    margin: auto;
    width:10vw;
    height: 10vw;
}
.food img:hover{
    cursor: pointer;
}
.btn{

    margin:30px;
}
.orders{
    border: 1px solid;
    padding:30px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.buttons .btn{

    margin:0;

}
.menu{
    display: flex;
flex-direction: column;
    /*float: left;*/
    font-size: 16px;
    width:20%;
    color:white;
    background-color: #565656;
    height: 300vh;
    padding:30px;

}
.box{
    flex-direction: column;
    display: flex;
   padding:0;
    margin:auto;
}
.body_container{
    display: flex;
    flex-direction: row;
}
menu.ul.li a{
    color:white;
}