*{
    min-height: 0;
    min-width: 0;
}

body {
background-color: #aacd4e;
}

.container{
    margin-top:100px;
    width:50%;
}
.foodcard{
    width:50%;
    margin:auto;
}
.card{

    margin:25px;
    min-width: 200px;
    min-height: 200px;
    padding:50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.description{
    text-align: center;
    margin:auto;
}
.foodnav {
    margin-top: 50px;
    text-align: center;
}
.b{
    width:75%;

}
.content{

position: relative;
    padding:auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 200px;

}
.food img{
    margin: auto;
    width:10vw;
    height: 10vw;
}
.food img:hover{
    cursor: pointer;
}
#order{
    width:100%;

    font-size: 20px;
}

.menu{
    display:flex;
    width:
}