body {
    background-color: lightgray;
}

.container{
    margin-top:100px;
    width:50%;
}
.foodcard{
    width:50%;
    margin:auto;
}
.card{

    margin:25px;
    min-width: 200px;
    min-height: 200px;
    padding:50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.description{
    text-align: center;
    margin:auto;
}
.foodnav{
    margin-top: 50px;
    text-align: center;
}