*{
    min-height: 0;
    min-width: 0;
}


body {
background-color: #aacd4e;
}

.container{


    /*margin:50px;*/
    width:100%;
    padding:50px;
}
.foodcard{
    width:50%;
    margin:auto;
}
.card{

    margin:25px;
    min-width: 200px;
    min-height: 200px;
    padding:50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.description{
    text-align: center;
    margin:auto;
}
.foodnav {
    margin-top: 50px;
    text-align: center;
}
.b{
    width:75%;

}
.content{

position: relative;

    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 200px;

}
.food img{
    margin: auto;
    width:10vw;
    height: 10vw;
}
.food img:hover{
    cursor: pointer;
}
.btn{

    margin:30px;
}
.orders{
    border: 1px solid;
    padding:30px;
    margin: 20px;
    border-radius: 5px;
}
.sidebar{
    border: 1px solid;
    padding:10px;
    margin: 10px;
    border-radius: 5px;
}
.buttons .btn{

    margin:0;

}
.menu{
    display: flex;
flex-direction: column;
    /*float: left;*/
    font-size: 16px;
    width:40%;
    color:white;
    background-color: #565656;
    height: 300vh;
    padding:30px;

}
.box{
    flex-direction: column;
    display: flex;
   padding:0;
    margin-top:50px;

}
.body_container{
    display: flex;
    flex-direction: row;
}
menu.ul.li a{
    color:white;
}

input[type=text] {

    background-color: aquamarine;
    padding: 6px;
    border: none;
    margin:20px;
    font-size: 17px;
    border-radius: 10px;
}

.searchbox{
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 5px;
    border:solid 1px;
}

#admin_order_table{
    background-color: #C9C9C9;
}
.users_order{
    width: 100%;
}

#searchebox {
width: 100%;
    height: 200px;
}
.foodSearchImg{
    width:150px;
    height: 150px;

}
#searchedfood img:hover{
    cursor:pointer;
}

.dropdown .btn{
padding:5px !important;
margin:0 !important;
}