{% extends 'base.html.twig' %}



{% block body %}
    <div class="container">
        <h2>Szczegóły zamówienia:</h2>

        <h1>{{ orders.food}}{{ orders.company }}{{ orders.cost }}</h1>


    </div>
{% endblock %}